<div data-ng-controller="coursecreatecontroller" class="col-xs-12">
  <form role="form" name="newcourseform">
    <div class="form-group col-xs-12">
        <label for="coursename">Enter the course's name</label>
        <input type="text" class="form-control" id="coursename" required data-ng-model="course.courseName" placeholder="enter the course name" required>
    </div>
    <div class="form-group col-xs-12">
        <label for="coursetown">Enter the courses's city</label>
        <input type="text" class="form-control" id="coursetown" required data-ng-model="course.city" placeholder="enter the course's city/town" required>
    </div>
    <div class="form-group col-xs-12">
        <label for="coursestate">Enter the courses's state</label>
        <input type="text" class="form-control" id="coursestate" required data-ng-model="course.state" placeholder="enter the course's state (ex. WA or TX)" required>
    </div>
    <div class="form-group col-xs-12">
        <label for="courselength">Enter the course length (# of holes)</label>
        <input type="number" class="form-control" id="courselength" required data-ng-model="course.numHoles" placeholder="9 or 18" required>
    </div>
    <button data-ng-disabled="newcourseform.$invalid" data-ng-click="createNewCourse()">Submit</button>
  </form>
</div>
