<div class="info col-xs-12" style="color:blue">
  <div class="welcometitle">
    <h3>Welcome!</h3>
  </div>
  <div class="welcome col-xs-12">
    <p>I'm glad you're here. I've been waiting all day for you.</p>
    <p>What you have in front of you is an amazing feat of javascriptery. Promise.</p>
    <p>A few notes before you go on</p>
  </div>
  <div class="notes col-xs-12">
    <ul>
      <li>This is the most basic working version I could make</li>
      <li>Do NOT look at this on a desktop. It's made for your phone; please use it as intended</li>
      <li>From right here, click on the menu and select "Select Course"</li>
      <li>Do what seems natural on that page (that one is kind of intuitive)</li>
      <li>Pebble Beach is the shortest example (only 3 holes). The others both have 18</li>
      <li>Press 'Fore!' to start a game</li>
      <li>For each hole, enter a score (like you would if you were actually playing) and swipe the box from left to right</li>
      <li>Bad things may happen if you swipe right to left. Honestly, I don't know. I didn't tell it to do anything in that case</li>
      <li>When you're done scoring, hit the 'End Game' button</li>
    </ul>
  </div>
  <div class="notes col-xs-12">
    <h4>Future Enhancements</h4>
    <ul>
      <li>I'm going to get all of the other parts working!</li>
      <li>I'm going to hook this up to a database</li>
      <li>I'll split up the endgame summary a bit more based on some actual golfer feedback</li>
      <li>Login as a unique user</li>
      <li>Save your games to your profile</li>
      <li>Compare scores between the times you've played at the same course</li>
      <li>Share amongst friends (social somethingsomething mumble)</li>
      <li>Anything else I can think of</li>
    </ul>
  </div>
</div>
