<div class="login col-xs-12">
  <div class="title"><h3>Log In</h3></div>
  <form role="form" name="signinform">
  	<div class="col-xs-12">
	    <div class="form-group col-xs-12">
		    <label for="useremail">Enter your email address</label>
		    <input type="email" class="form-control input-lg" id="useremail" required data-ng-model="user.email" placeholder="Enter your email address">
		</div>
	</div>
	<div class="col-xs-12">
		<div class="form-group col-xs-12">
		    <label for="userpass">Enter your password</label>
		    <input type="password" class="form-control input-lg" id="userpass" required data-ng-model="user.password" placeholder="Enter your password">
		</div>
	</div>
	<div class="col-xs-12">
    	<button class="btn btn-primary" data-ng-disabled="signinform.$invalid" data-ng-click="signin()">Sign In</button>
    </div>
  </form>
</div>
