//base variables

$base-width: 360px;
$base-height: 640px;
$babygotback: #ECF8E0;
$scorediv: #0B610B;

//start stylesheet
html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../images/golfapp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $babygotback;
}

.homeOptions {
	height: 25%;
	margin: 0 auto;
}


.login, .signup {
  height: 100vh;
  margin: 10% 5%;
}

form label {
	font-size: 24px;
}

// .gameon {

// }
